.elements__delete-btn{
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url('../../../images/trash.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border: none;
  }
  
  .elements__delete-btn:hover {
    opacity: 0.6;
  }