.profile {
  display: flex;
  width: 880px;
  margin: 40px auto 51px;
  align-items: center;
}
@media screen and (max-width: 979px) {
  .profile {
    width: calc(100% - 38px);
  }
}
@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    margin: 38.25px auto 36px;
    
  }
}
