.popup__submit {
  max-width: 358px;
  width: 100%;
  margin: 48px auto 37px;
  padding: 15px 0 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: black;
  color: #ffffff;
  border-radius: 2px;
}
.popup__submit:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
